{% extends 'base.html' %}

{% block content %}
<section>
    <div class="content row padding-bottom-3 desktop-12 container">
        <h1>Inscrição Confirmada!</h1>
        <div class="desktop-6">
            <p>Você se cadastrou no Eventex com os seguintes dados:</p>

            <ul>
                <li>Nome: {{ subscription.name }}</li>
                <li>CPF: {{ subscription.cpf }}</li>
                <li>Email: {{ subscription.email }}</li>
                <li>Telefone: {{ subscription.phone }}</li>
            </ul>

            <p>Se houver algum problema, favor entrar em contato. Obrigado e aguarde mais notícias!!</p>
        </div>
    </div>
</section>
{% endblock content %}